body {
    background-image: url(img.png);
    background-repeat: no-repeat;
}
h1 {
    color: #C3C3C3;
}
h3 {
    color: #C3C3C3;
}
p {
    color: #ffffff
    ;
}
h3 {
    color:#C3C3C3;
}
p {
    color: #ffffff;
}
h3 {
    color: #C3C3C3;
}
h4 {
    color: #C3C3C3;
}
p {
    color: #ffffff;
}
h4 {
    color: #C3C3C3;
}
p {
    color: #ffffff;
}